extends layout

block content
  h1 #{title}
  p This is my development test for Turner TNN Division. As of now, I didn't finish my MongoDB connection through Mongoose to the app.
  h3 Enter Title Search Term
  form(name="input", action="/find", method="get")
    input(type="text", name="titleInput")