doctype html
html
  head
    title = title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
     section
        article
           block content