html {font-size: 62.5%;} 

a{color: #00B7FF;}

section{width:100%;}
article{width:100%;max-width:720px;min-width:320px;margin: 0 auto;}
h1,h3,p{text-align: center;}

h1{line-height:2.5em;font-size:2rem;font-size: 2em;}
h3{line-height: 1.8em;font-size:1.5rem;font-size: 1.5em;}
p{line-height: 1.6em;font-size:1.3rem;font-size: 1.3em;}

form{width:320px;margin:10px auto;}
input{width:300px;margin:0 auto;}